<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="smart_tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

